*{
    margin: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #010326 !important;
    transition: 0.2s;
    font-size: 14pt !important;
}
body{
    background-color: #F2F2F2 !important;
}

.heading-photo{
    position:relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: url("https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    box-shadow: inset 0px 0px 10px #01032642;
    z-index: -1;    
}

.header{
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}
.navbar{
    background-color: #f2f2f2f1!important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 10px  #01032642;
}
.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 24pt !important;
}
.my-btn{
    border: none !important;
    background-color: none;
}
.my-btn:active{
    background-color: none !important;
}
.my-btn:active i, .my-btn:hover i{
    color:#94C6F2 !important;
}
.navbar-nav li a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-nav li:hover a{
    background-color: #94C6F2 !important;
    color:#F2EEAC !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
}
.navbar-nav a{
    font-size: 12pt !important;
}
.navbar-brand:hover{
    color:#94C6F2 !important;
}
.content{
    text-indent: 20pt;
    line-height: 2;
}

.fa-angles-right, .fa-angles-left{
    display: inline;
    font-size: 60pt!important;
    color:#94C6F2!important;
    margin-right: 5px;
}
.welcome{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400 !important;
    font-size: 60pt !important;
    text-align: justify;
}
.small-welcome{
    font-family: 'Playfair Display', serif !important;
    font-weight: lighter;
    font-size: 20pt !important;
    font-style: italic;
    text-align: right;
    color: #f1c40f !important; 
}
h1{
    font-family: 'Playfair Display', serif !important;
    font-weight: 400 !important;
    font-size: 25pt !important;
    font-style: italic;
    text-align: left;
    color:rgb(12, 15, 15) !important;
    padding: 5px;
    padding-left: 20px;
    border-left: 10px solid #94C6F2;
}
.quote{
    border-left: 10px solid white;
}
.quote-body{
    text-indent: 16pt;
    font-weight: 500!important;
    font-size: 22pt !important;
    color: white !important;
    font-style: italic;
}
.quote-author{
    font-family: 'Playfair Display', serif !important;
    font-size: 18pt !important;
    font-weight: 100 !important;
    font-style: italic;
    color: white !important;
    opacity: 0.8;
}
.quote-sign{
    font-size: 25pt !important;
    color: #94C6F2 !important;
}
.profile-pic{
    width: 90%;
    box-shadow: 0px 0px 10px #01032642;
}

.contact-btn{
    width: 100%;
    padding: 9px;
    border: 2px solid #010326;
    border-radius: 50px;
}
.contact-btn i{
    margin-right: 10px;
}
.contact-btn:hover, .contact-btn:hover i{
    color: white!important;
    border-color: white;
    background-color: #94C6F2;
}

.social-media a{
    font-size: 20pt !important;
    margin: 0px 10px;
}
.social-media a:link, .social-media a:visited{
    text-decoration: none;
}
.social-media a:active, .social-media a:hover{
    color:#94C6F2 !important;
    text-decoration: none;
}

.credits, .credits-name, .credits i{
    font-size: 10pt !important;
}
.credits-name{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
.footer{
    margin-top: 30px;
    padding: 10px 0px;
    box-shadow: 0 0 10px #01032642;
}

.divider i{
    color:#f1c40f !important;
    font-size: 60pt !important;
    margin: 20px 0px;
}
/* TIMELINE */
.timeline_area {
    position: relative;
    z-index: 1;
}
.single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 180px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area {
        padding-left: 100px;
    }
}
.single-timeline-area .timeline-date {
    position: absolute;
    width: 180px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 60px;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
        width: 100px;
    }
}
.single-timeline-area .timeline-date::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 30px;
    z-index: 1;
}
.single-timeline-area .timeline-date::before {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #f1c40f;
    content: "";
    top: 50%;
    right: 26px;
    z-index: 5;
    margin-top: -5.5px;
}
.single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #020710;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}
.single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 30px 30px 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    border: 1px solid #ebebeb;
}
@media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
}
.single-timeline-area .single-timeline-content .timeline-icon {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 30px;
    height: 30px;
    background-color: #f1c40f;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    text-align: center;
    max-width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}
.single-timeline-area .single-timeline-content .timeline-icon i {
    color: #ffffff;
    line-height: 30px;
}
.single-timeline-area .single-timeline-content .timeline-text h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.single-timeline-area .single-timeline-content .timeline-text p {
    font-size: 13px;
    margin-bottom: 0;
}
.single-timeline-area .single-timeline-content:hover .timeline-icon,
.single-timeline-area .single-timeline-content:focus .timeline-icon {
    background-color: #020710;
}
.single-timeline-area .single-timeline-content:hover .timeline-text h6,
.single-timeline-area .single-timeline-content:focus .timeline-text h6 {
    color: #3f43fd;
}