*{
    margin: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #010326 !important;
    transition: 0.3s;
    font-size: 14pt !important;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar{
    width: 12px;
    outline: none;
    background-color: #ebebeb;
}
*::-webkit-scrollbar-thumb{
    background-color: #94C6F2!important;
}

body{
    background-color: #F2F2F2 !important;
}

.heading-photo{
    position:relative;
    top: 0px;
    left: 0px;
    right: 0px;
    background-image: url("https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    box-shadow: inset 0px 0px 10px #01032642;
    z-index: -1;    
}

.header{
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}
.navbar{
    background-color: #f2f2f2f0 !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 10px  #01032642;
}
.navbar-brand{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 24pt !important;
}
.my-btn{
    border: none !important;
    background-color: none;
}
.my-btn:active{
    background-color: none !important;
}
.my-btn:active i, .my-btn:hover i{
    color:#94C6F2 !important;
}

.section{
    margin: 80px 0px;
}
.section:last-child{
    margin-top: 80px;
    margin-bottom: 0px;
}

.navbar-nav li:hover a{
    background-color: #94C6F2 !important;
    font-weight: 500;
    color:#F2F2F2 !important;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.18); */
}
.navbar-nav a{
    font-size: 12pt !important;
}
.navbar-brand:hover{
    color:#94C6F2 !important;
}
.content{
    text-indent: 20pt;
    line-height: 2;
}

.fa-angles-right, .fa-angles-left{
    display: inline;
    font-size: 60pt!important;
    color:#94C6F2!important;
    margin-right: 5px;
}
.welcome{
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 60pt !important;
    text-align: justify;
}
.small-welcome{
    font-family: 'Playfair Display', serif !important;
    font-weight: 600;
    font-size: 30pt !important;
    font-style: italic;
    text-align: right;
    color: #f1c40f !important; 
}
.fa-angles-right{
    color: #94C6F2 !important;
    font-size: 60pt !important;
}
@media screen and (max-width: 767px) {
    .welcome{
        font-size: 12vw !important;
    }
    .small-welcome{
        font-size: 4vw !important;
    }
    .fa-angles-right{
        font-size: 9vw !important;
    }
    .circle{
        display: none;
    }
}

h1{
    font-family: 'Playfair Display', serif !important;
    font-weight: 400 !important;
    font-size: 25pt !important;
    font-style: italic;
    text-align: left;
    color:rgb(12, 15, 15) !important;
    padding: 5px;
    /* padding-left: 20px; */
    margin-bottom: 30px !important;
    /* border-left: 10px solid #94C6F2; */
}

h1 i{
    color: #94C6F2 !important;
    font-size: 25pt !important;
    margin-right: 20px;
}

h3 {
    padding: 20px !important;
}
.quote{
    border-left: 10px solid white;
}
.quote-body{
    text-indent: 16pt;
    font-weight: 500!important;
    font-size: 22pt !important;
    color: white !important;
    font-style: italic;
}
.quote-author{
    font-family: 'Playfair Display', serif !important;
    font-size: 18pt !important;
    font-weight: 100 !important;
    font-style: italic;
    color: white !important;
    opacity: 0.8;
}
.quote-sign{
    font-size: 25pt !important;
    color: #94C6F2 !important;
}
.profile-pic{
    width: 100%;
    box-shadow: 0px 0px 10px #01032642;
}
.circle{
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: -2;
}
h4{
    font-style: italic;
    font-weight: 500;
    font-size: 18pt !important;
    padding: 20px !important;
}
h4 i{
    color:#f1c40f !important;
    font-size: 18pt !important;
    margin-right: 10px;
}
h4 a:hover, h4 a:link, h4 a:active{
    text-decoration: none!important;
}
.contact-btn{
    width: 100%;
    padding: 9px;
    border: 2px solid #010326;
    border-radius: 50px;
}
@media screen and (max-width: 991px) {
    .contact-btn{
        width: 90%;
        margin-bottom: 10px;
    }
}
.contact-btn i{
    margin-right: 10px;
}
.contact-btn:hover, .contact-btn:hover i{
    color: white!important;
    border-color: white;
    background-color: #94C6F2;
}

.social-media a{
    font-size: 20pt !important;
    margin: 0px 10px;
}
.social-media a:link, .social-media a:visited{
    text-decoration: none;
}
.social-media a:active, .social-media a:hover{
    color:#94C6F2 !important;
    text-decoration: none;
}

.credits, .credits-name, .credits i{
    font-size: 10pt !important;
}
.credits-name{
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}
.footer{
    padding: 10px 0px;
    box-shadow: 0 0 10px #01032642;
}
.footer a:link{
    text-decoration: none;
}
.divider i{
    color:#f1c40f !important;
    font-size: 60pt !important;
    margin: 5px 0px;
}

/*Timeline*/
.timeline{
    position: relative;
}
.timeline::after{
    content: "";
    position: absolute;
    top: 0;
    left:50%;
    width: 4px;
    height: 100%;
    background-color: #010326;
}
.timeline-event{
    position: relative;
    width: 46%;
    padding: 10px 30px;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px #0103262c;
}
.timeline .left{
    text-align: right;
    left: 0px;
}
.timeline .left:after{
    content: " ";
    position: absolute;
    top: 22px;
    width: 0;
    z-index: -1;
    left: 96%;
    padding: 3%;
    background-color: white;
    transform: rotate(45deg);
    box-shadow: 0px 0px 20px #0103262c;
}
.left .timeline-text::after{
    content: "";
    position: absolute;
    top: 23px;
    left: 106.3%;
    background-color: white;
    border: 5px solid #f1c40f;
    border-radius: 50%;
    box-shadow: 0 0 10px #0103261c;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.right .timeline-text::after{
    content: "";
    position: absolute;
    top: 23px;
    right: 105.3%;
    background-color: white;
    border: 5px solid #f1c40f;
    border-radius: 50%;
    box-shadow: 0 0 10px #0103261c;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.timeline .right{
    text-align: left;
    left: 54%;
}
.timeline .right:after{
    content: " ";
    position: absolute;
    top: 22px;
    width: 0;
    z-index: -1;
    right: 96%;
    padding: 3%;
    background-color: white;
    transform: rotate(45deg);
    box-shadow: 0px 0px 20px #0103262c;
}
.timeline span{
    color: #94C6F2 !important;
    margin-right: 10px;
}
.timeline h5, h5 span{
    font-weight: 700;
    font-size: 18pt !important;
}
.timeline h6{
    font-size: 16pt!important;
    font-weight: 700;
}
.timeline-text .city-name{
    font-family: 'Playfair Display', serif !important;
    font-weight: 700;
    font-size: 15pt!important;
}
/* skills */
@media screen and (max-width: 767px){
    .skills h3{
        text-align: center;
    }
}
.skills .col-md-4{
    margin: 2px 0px!important;
}
.skills h3 i{
    margin-right: 10px;
}

.skills h3, .skills h3 i{
    font-size: 18pt!important;
}

.skills ul{
    font-size: 16pt!important;
    list-style-type: none;
}
.skills li{
    margin-bottom: 10px;
}
.skills iconify-icon{
    margin-right: 10px;
    margin-left: 0px;
    font-size: 20pt!important;
    opacity: 0.8;
}
li:hover .c-plus-plus{
    color: #005198!important;
}
li:hover .java-script{
    color: #efcf1d!important;
}

li:hover .python{
    color: #3470A2!important;
}
li:hover .html{
    color: #E96228!important;
}
li:hover .css{
    color: #3595CF!important;
}
li:hover .bootstrap{
    color: #53397A!important;
}
li:hover .jquery{
    color: #1163A4!important;
}
li:hover .affinityphoto{
    color: #E980F5!important;
}
li:hover .affinitydesigner{
    color: #4FC9F3!important;
}
li:hover .affinitypublisher{
    color: #F6A064!important;
}
li:hover .bash{
    color: #4BA424!important;
}
li:hover .git{
    color: #E94E31!important;
}
li:hover .visual-studio{
    color: #C792F1!important;
}
li:hover .visual-studio-code{
    color: #24ABED!important;
}
/* GALLERY */
.gallery{
    display: flex;
    box-sizing: border-box;
    height: 90vh;
}
.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 5px;
    box-shadow: 0 0px 30px rgba(0,0,0,.1);
    line-height: 0;
    cursor: pointer;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /* filter: grayscale(100%); */
    filter:opacity(60%) grayscale(100%);
    transition: .7s;
}
/* .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
} */

.box:hover > img {
    height: 102%;
    filter:opacity(100%);
}

.box-clicked{
    flex: 4 1 8.2%;
}
.box-clicked > img {
    width: 100%;
    height: 100%;
    filter:grayscale(0%);
}
